#twtbl{
	display: table;
	width: 80%;
}

table.center{
    margin: 0 auto;  
	text-align:center;
}

table.login{
    margin: 0 auto;  
	text-align:center;
}

p{
	text-align:center;
	margin:40px auto;
}
table.tweet{
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	border:1px solid #000;
	padding:0;
	margin:0;
}

table.tweet tr{
	border:1px solid #000;
	padding:5px;
}

table.tweet th, table.tweet td{
	padding:10px;
	text-align:center;
}

table.tweet th{
	font-size:14px;
	letter-spacing:1px;
}

#login input[type="text"]{
	font-size:30px;
	width:95%;
}

#login input[type="password"]{
	font-size:30px;
	width:95%;
}

#twitbl{
	display: table;
	width: 90%;
}

.textLogin {
	width:800px;
	margin: 0 auto;
}

textarea{
	width: 400px;
	height: 200px;
	resize:none;
	font-size: 22px ;
}

input[type="number"]{
	width: 50px;
	height: 30px;
	font-size: 20px;
}

#year{
	width: 70px;
	height: 30px;
	font-size: 20px;
}

.year input[type="number"]{
	width: 70px;
	height: 30px;
	font-size: 20px;
}

#a {
	display: table;
	width: 900px;
	margin: 0 auto;
	border: 1px solid #103460;
	background: #d6dfec;
	padding: 20px;
}

#mobile{
	display:none;
}

#b {
	display: none;
}

#header1 {
	display: block;
	width: 900px;
	margin: 0 auto;
	border: 1px solid #103460;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #1e90ff;
}

#header2{
	display: none;
}

.headerButton {
	font-weight:bold;
	font-size:120%;
	background-color:yellow;
	WIDTH:130px;
	HEIGHT:40px;
}

.menuButton{
	font-weight:bold;
	background-color:glay;
	color:#001000;
	margin:8px;
	font-size:45px;
}

.box {
    border: 1px solid #FF3400;
	font-size:30px;
}

#label {
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 300%;
	text-align: center;
	padding: 5px;
}

#botton {
	width:140px;
	height:40px;
	font-size:20;
}

@media screen and (max-width: 1000px) {

	.textLogin {
		width:600px;
		margin: 0 auto;
	}
	
	#header1 {
		width: 90%;
		margin: 0 auto;
		border: 1px solid #103460;
		padding-top: 5px;
		padding-bottom: 5px;
		background: #1e90ff;
	}
	#a {
		width: 90%;
		margin: 0 auto;
		border: 1px solid #103460;
		background: #d6dfec;
	}
	.headerButton {
		font-weight:bold;
		font-size:120%;
		background-color:yellow;
		WIDTH:130px;
		HEIGHT:40px;
	}
}
@media screen and (max-width: 750px) {

	#label {
		margin: 0 auto;
		margin-bottom: 30px;
		font-size: 250%;
		text-align: center;
		padding: 5px;
	}
	
	textarea.tweet{
		font-size:18;
	}
	
	.textLogin {
		width: 400px;
		margin: 0 auto;
	}
	
	.menuButton{
		font-weight:bold;
		background-color:glay;
		color:#001000;
		margin:8px;
		font-size:30px;
	}
	.box {
    	border: 1px solid #FF3400;
		font-size:18px;
	}
	.headerButton {
		font-weight:bold;
		font-size:90%;
		background-color:yellow;
		WIDTH:100px;
		HEIGHT:30px;
	}
}
@media screen and (max-width: 500px) {
	table.tweet{
		border:0;
	}

	table.tweet thead{
		display:none;
	}

	table.tweet tr{
		margin-bottom:10px;
		display:block;
		border-bottom:2px solid #000;
	}

	table.tweet td{
		display:block;
		text-align:right;
		font-size:13px;
		border-bottom:1px dotted #000;
	}

	table.tweet td:last-child{
		border-bottom:0;
	}

	table.tweet td:before{
		content:attr(data-label);
		float:left;
		font-weight: bold;
	}

	textarea{
		width: 80%;
		height: 20%;
		resize:none;
		font-size: 18px ;
	}

	#botton {
		width:100px;
		height:30px;
		font-size:14;
	}
	
	#label {
		margin: 0 auto;
		margin-bottom: 30px;
		font-size: 200%;
		text-align: center;
		padding: 5px;
	}
	
	head{
		margin: auto;
	}
	
	body{
		background: #d6dfec;
		margin: 0 auto;
	}
	
	#header1 {
		display: none;
	}

	#a {
		border: none;
	}
	
	#header2{
		display: block;
		background: #1e90ff;
		margin: 0px;
	}
	#header2 a{
		font-size: 18px;
		display: block;
		width:90%;
		text-decoration: none;
		padding: 10px;
		color: #000;
	}
	li,ui{
		display:inline;
		height:auto;
		list-style-type:none;
	}
	#header2 li ul{
		display: none;
	}
	
	#pc{
		display: none;
	}
	
	#mobile {
		padding:1px;
		display: block;
		margin: 0 auto;
		border: none;
		background: #d6dfec;
	}
	.menuButton{
		font-weight:bold;
		color:#001000;
		margin:8px;
		font-size:30px;
	}
	
	.box {
		display: block;
    	border: none;
		font-size:25px;
		text-align:center;
	}
	
	.headerButton {
		display: block;
		font-size: 1.0em;
	}
	
	.textLogin {
		width: 300px;
		margin: 0 auto;
	}
	
	input[type="number"]{
		width: 40px;
		height: 30px;
		font-size: 16px;
	}

	#year{
		width: 60px;
		height: 30px;
		font-size: 16px;
	}
	
}
@media screen and (max-width: 350px) {
	.textLogin {
		width: 250px;
		margin: 0 auto;
	}
	.box {
		font-size:18px;
	}
}